In [1]:
print(10)

10

In [4]:
print('python')

python

In [5]:
print(10,20,30)

10 20 30

In [6]:
print(10,10.5,'nitish',True)

10 10.5 nitish True

In [7]:
n1=10
n2=20
print(n1,n2)

10 20

In [8]:
print(10),print(20)

10
20

(None, None)

In [9]:
a=10
b=20
c=a+b
c

30

In [10]:
print("the addition of", a,"and",b,"is",c)

the addition of 10 and 20 is 30

In [3]:
a=10
b=20
c=a+b
c
print("the addition of {} and {} is {}".format(a,b,c))

the addition of 10 and 20 is 30

In [17]:
name="pythom"
age=10
city="hydrabad"
print("my name is {}, i am {} year old and i am from {}.".format(name,age,city))

my name is pythom, i am 10 year old and i am from hydrabad.

In [18]:
print(f"my name is {name}, i am {age} year old and i am from {city}.")

my name is pythom, i am 10 year old and i am from hydrabad.

In [1]:
num1=100
num2=200
avrage=(num1+num2)/2
#the avrage of 100and 200 is 150
print(f"the avrage of {num1} and {num2} is {avrage}.")

the avrage of 100 and 200 is 150.0.

In [2]:
print("the avrage of {} sbd{} is{} ".format(num1,num2,avrage))

the avrage of 100 sbd200 is150.0

In [3]:
# take the radius of circle and take the pi value =3.14
#find the area of circle = pi*r*r
pi=3.14
radius=10
area=(pi*radius*radius)
print(f"area of the circle is {area}")

area of the circle is 314.0

In [4]:
print("the radius of circle is {}".format(area))

the radius of circle is 314.0

In [6]:
#take the bredth of tringle
# 3take hight of tringle
#area=1/2*base*hight
hight=10
base=10
area=(1/2*base*hight)
print("area of tringlr is {}".format(area))
print(f"area of tringlr is {area}")

area of tringlr is 50.0
area of tringlr is 50.0

In [9]:
#restrunt bill 
bill_amount=1000
tip_persentage=10
tip_amount=(tip_persentage/100*bill_amount)
total_bill=(bill_amount+tip_amount)
print(f"total bill is {total_bill}")
print("total bill is {}".format(total_bill))

total bill is 1100.0
total bill is 1100.0

In [10]:
print(10)
print(20)

10
20

$end operator

In [14]:
print(10,end=' & ')
print(20)

10 & 20

In [16]:
print(10,end=' ')
print(20,end=' ')
print(30)

10 20 30

#seprater oprator
- seprate multiple value in a single statementmm

In [17]:
print(10,20,30,sep=' & ')
# 107 20&030

10 & 20 & 30

In [19]:
print (f"the addition of{5} and {3} is {5+3}.")

the addition of5 and 3 is 8.